<% if current_user?(@user) %>
<div class="right-float"><%= link_to new_event_path class: "btn btn-default btn-sm white" do %><span class="glyphicon glyphicon-plus white"></span><% end %>
</div>
<% end %>