<div class="col-md-12">
  <div class="page header">
    <h1>All Events</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming</h3>
      </div>
      <div class="list-group">
        <% @upcoming_events.each do |event| %>
          <%= link_to event.name, event_path(event), class: "list-group-item" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Past events</h3>
      </div>
      <div class="list-group">
        <% @past_events.each do |event| %>
          <%= link_to event.name, event_path(event), class: "list-group-item" %>
        <% end %>
      </div>
    </div>
  </div>
</end>